In [1]:
import pandas as pd, numpy as np 
import matplotlib.pyplot as plt, seaborn as sns 
%matplotlib inline

In [2]:
df = pd.read_csv('/content/fifa21 raw data v2.csv', na_values=[0])

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (76) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# checking the shape of the data
df.shape

(18979, 77)

In [4]:

df1 = df.copy() #to duplicate the data
df.head(2)

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

# ID column

Checking for uniqueness of the ID column. The player ID is expected to be a unique value as we're not to have duplicate value

In [6]:
df[df.ID.duplicated()] #to check for duplicate

Empty DataFrame
Columns: [ID, Name, LongName, photoUrl, playerUrl, Nationality, Age, ↓OVA, POT, Club, Contract, Positions, Height, Weight, Preferred Foot, BOV, Best Position, Joined, Loan Date End, Value, Wage, Release Clause, Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, W/F, SM, A/W, D/W, IR, PAC, SHO, PAS, DRI, DEF, PHY, Hits]
Index: []

[0 rows x 77 columns]

Now that no duplicate value for ID, we can use it as index

In [7]:
# using ID as index 
df.set_index("ID", inplace= True) #to make column ID as column

In [8]:
df.head()

,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,Contract,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
ID,,,,,,,,,,,,,,,,,,,,,
158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,...,Medium,Low,5 ★,85,92,91,95,38,65,771
20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,...,High,Low,5 ★,89,93,81,89,35,77,562
200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,...,High,High,4 ★,76,86,93,88,64,78,207
190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,...,High,Medium,5 ★,91,85,86,94,36,59,595

# Name 
we have 2 columns for name of the player, let's examine them and see the better way to represent the players name

In [9]:
name = ["Name", "LongName"]
df[name].sample(5)

                Name               LongName
ID
240715      G. Lloyd           George Lloyd
226853  J. St. Juste     Jeremiah St. Juste
240621   Júlio César  Júlio César Czarneski
220572   T. Dejewski        Tomasz Dejewski
257550   I. Al Kaabi       Ibrahim Al Kaabi

In logical sense, the Name column and the LongName column are same thing, one is just the short form of the other. Hence, we can remove the Name column and rename the LongName to Name

In [10]:
df.drop("Name", axis=1, inplace=True)

In [11]:
df.rename(columns={"LongName": "Name"}, inplace = True) #To rename the column
df.tail(5)

,Name,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
ID,,,,,,,,,,,,,,,,,,,,,
247223,Ao Xia,https://cdn.sofifa.com/players/247/223/21_60.png,http://sofifa.com/player/247223/ao-xia/210006/,China PR,21,47,55,\n\n\n\nWuhan Zall,2018 ~ 2022,CB,...,Medium,Medium,1 ★,64,28,26,38,48,51,NaN
258760,Ben Hough,https://cdn.sofifa.com/players/258/760/21_60.png,http://sofifa.com/player/258760/ben-hough/210006/,England,17,47,67,\n\n\n\nOldham Athletic,2020 ~ 2021,CM,...,Medium,Medium,1 ★,64,40,48,49,35,45,NaN
252757,Ronan McKinley,https://cdn.sofifa.com/players/252/757/21_60.png,http://sofifa.com/player/252757/ronan-mckinley...,England,18,47,65,\n\n\n\nDerry City,2019 ~ 2020,CM,...,Medium,Medium,1 ★,63,39,44,46,40,53,NaN
243790,Zhen'ao Wang,https://cdn.sofifa.com/players/243/790/21_60.png,http://sofifa.com/player/243790/zhenao-wang/21...,China PR,20,47,57,\n\n\n\nDalian YiFang FC,2020 ~ 2022,RW,...,Medium,Medium,1 ★,58,49,41,49,30,44,NaN
252520,Xiao Zhou,https://cdn.sofifa.com/players/252/520/21_60.png,http://sofifa.com/player/252520/xiao-zhou/210006/,China PR,21,47,57,\n\n\n\nDalian YiFang FC,2019 ~ 2023,"CB, LB",...,Medium,Medium,1 ★,62,22,39,42,45,55,NaN

In [12]:
df.Name = df["Name"].astype("string") #To convert to string 
df.Name = df["Name"].str.strip()
assert df["Name"].dtype == "string"

In [13]:
list(df["Name"])[:10]

['Lionel Messi',
 'C. Ronaldo dos Santos Aveiro',
 'Jan Oblak',
 'Kevin De Bruyne',
 'Neymar da Silva Santos Jr.',
 'Robert Lewandowski',
 'Mohamed Salah',
 'Alisson Ramses Becker',
 'Kylian Mbappé',
 'Marc-André ter Stegen']

# PhotoUrl and playerUrl
These two columns are not needed for our EDA, so we can remove them.

In [14]:
url = ["photoUrl", "playerUrl"]
for u in url:
  df.drop(u, axis=1, inplace=True) # to drop the unwanted columns 
df.sample(5)

,Name,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,Weight,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
ID,,,,,,,,,,,,,,,,,,,,,
257206,Mitchy Ntelo,Belgium,19,58,72,\n\n\n\nStandard de Liège,2020 ~ 2022,ST,183cm,77kg,...,Medium,Medium,1 ★,79,54,39,60,18,63,NaN
219693,Diego Carlos Santos Silva,Brazil,27,83,85,\n\n\n\nSevilla FC,2019 ~ 2024,CB,185cm,86kg,...,Medium,High,2 ★,77,47,63,67,82,83,270
202630,Anton Kochenkov,Russia,33,68,68,\n\n\n\nLokomotiv Moscow,2015 ~ 2021,GK,195cm,83kg,...,Medium,Medium,1 ★,65,66,67,71,47,67,5
220965,Anas Tahiri,Morocco,25,66,68,\n\n\n\nRKC Waalwijk,2018 ~ 2021,"CAM, CM, LW",179cm,61kg,...,Medium,Medium,1 ★,76,56,66,72,35,45,1
194765,Antoine Griezmann,France,29,87,87,\n\n\n\nFC Barcelona,2019 ~ 2024,"ST, CF, LW",176cm,73kg,...,Medium,Medium,4 ★,79,85,84,88,57,72,396

# Nationality

In [15]:
df.Nationality = df.Nationality.astype('string')
df.Nationality.dtype == "string"

True

#Age
The players age cannot be null or 0.

In [16]:
df[np.logical_or(df.Age <= 0, df.Age.isna())]

Empty DataFrame
Columns: [Name, Nationality, Age, ↓OVA, POT, Club, Contract, Positions, Height, Weight, Preferred Foot, BOV, Best Position, Joined, Loan Date End, Value, Wage, Release Clause, Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, W/F, SM, A/W, D/W, IR, PAC, SHO, PAS, DRI, DEF, PHY, Hits]
Index: []

[0 rows x 73 columns]

The age is fine to go with

# Overall rating and potential 
The rate should not be less than 0 and must not be greater than 100. same thing for potential

In [17]:
df.columns = df.columns.str.replace("↓OVA", "O/R")

In [18]:
df.sample(2)

,Name,Nationality,Age,O/R,POT,Club,Contract,Positions,Height,Weight,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
ID,,,,,,,,,,,,,,,,,,,,,
234269,Gwang Hoon Chae,Korea Republic,26,57,58,\n\n\n\nGangwon FC,2020 ~ 2023,"LB, CB",177cm,68kg,...,Low,Medium,1 ★,71,26,45,46,53,62,NaN
248131,Jung In Park,Korea Republic,19,57,74,\n\n\n\nUlsan Hyundai FC,2019 ~ 2024,CAM,178cm,70kg,...,Medium,Medium,1 ★,70,42,55,59,36,58,NaN

In [19]:
df[np.logical_or(df["O/R"] < 0,df["O/R"]>100)]

Empty DataFrame
Columns: [Name, Nationality, Age, O/R, POT, Club, Contract, Positions, Height, Weight, Preferred Foot, BOV, Best Position, Joined, Loan Date End, Value, Wage, Release Clause, Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, W/F, SM, A/W, D/W, IR, PAC, SHO, PAS, DRI, DEF, PHY, Hits]
Index: []

[0 rows x 73 columns]

In [20]:
df[np.logical_or(df["POT"] < 0,df["POT"]>100)]

Empty DataFrame
Columns: [Name, Nationality, Age, O/R, POT, Club, Contract, Positions, Height, Weight, Preferred Foot, BOV, Best Position, Joined, Loan Date End, Value, Wage, Release Clause, Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, W/F, SM, A/W, D/W, IR, PAC, SHO, PAS, DRI, DEF, PHY, Hits]
Index: []

[0 rows x 73 columns]

We're satisfy with both columns now.

In [21]:
df.sample(2)

,Name,Nationality,Age,O/R,POT,Club,Contract,Positions,Height,Weight,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
ID,,,,,,,,,,,,,,,,,,,,,
252036,Nazareno Colombo,Argentina,21,63,77,\n\n\n\nEstudiantes de La Plata,2019 ~ 2021,CB,184cm,78kg,...,Medium,Medium,1 ★,60,39,47,46,63,66,10
239053,Federico Valverde,Uruguay,21,83,90,\n\n\n\nReal Madrid,2016 ~ 2025,CM,182cm,78kg,...,High,High,1 ★,86,74,78,79,77,80,511


# Club 
Club name is not rightly spell.

In [22]:
df["Club"] = df["Club"].str.strip("\n")
df["Club"] = df["Club"].astype("string")
df.head(2)

,Name,Nationality,Age,O/R,POT,Club,Contract,Positions,Height,Weight,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
ID,,,,,,,,,,,,,,,,,,,,,
158023,Lionel Messi,Argentina,33,93,93,FC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,72kg,...,Medium,Low,5 ★,85,92,91,95,38,65,771
20801,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,2018 ~ 2022,"ST, LW",187cm,83kg,...,High,Low,5 ★,89,93,81,89,35,77,562

Now, good to go

# Contract 
with the way the contract is written, we can represent it better by splitting it

In [23]:
df[["Contract_start", "Contract_end"]]=df["Contract"].str.split("~", expand = True)

In [24]:
df.sample(1)

,Name,Nationality,Age,O/R,POT,Club,Contract,Positions,Height,Weight,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
240605,Archie Collins,England,20,62,73,Exeter City,2017 ~ 2022,"CM, CDM",175cm,63kg,...,1 ★,72,55,60,65,56,61,11,2017,2022

In [25]:
df.drop("Contract", axis=1, inplace=True)
df.sample(1)

,Name,Nationality,Age,O/R,POT,Club,Positions,Height,Weight,Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
238075,Martell Taylor-Crossdale,England,20,61,77,Colchester United,ST,185cm,77kg,Right,...,1 ★,72,63,50,61,25,57,27,"Jun 30, 2021 On Loan",None

# Position

In [26]:
#positions should be in category 
df["Positions"] = df["Positions"].astype('category')

# Height and Weight

In [27]:
#The height and Weight should be in integer and the dimention should be truncate
df.Height = df.Height.str.strip("cm")
df.Weight = df.Weight.str.strip("kg")
df.sample()

,Name,Nationality,Age,O/R,POT,Club,Positions,Height,Weight,Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
192473,Lee Novak,England,31,63,63,Bradford City,ST,183,78,Right,...,1 ★,59,65,57,59,41,75,3,2020,2021

In [28]:
#Renaming the columns 
dim = ["Height", "Weight"]
# for d in dim:
#   df[d] = df[d].astype("int")
df.rename(columns = {"Height": "Height (cm)", "Weight":"Weight (kg)"}, inplace=True)
df.sample()

,Name,Nationality,Age,O/R,POT,Club,Positions,Height (cm),Weight (kg),Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
254644,Jordan Bender,United States,18,52,72,Orlando City SC,"RM, CM",175,68,Right,...,1 ★,63,38,51,51,43,51,NaN,2019,2021

# Best Position and preferred foot

In [29]:
df[df.columns[10:25]].head(2)

,BOV,Best Position,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling
ID,,,,,,,,,,,,,,,
158023,93,RW,"Jul 1, 2004",NaN,€103.5M,€560K,€138.4M,429,85,95,70,91,88,470,96
20801,92,ST,"Jul 10, 2018",NaN,€63M,€220K,€75.9M,437,84,95,90,82,86,414,88

In [30]:
# Best Position 
df["Best Position"] = df["Best Position"].astype("category")
df["Preferred Foot"] = df["Preferred Foot"].astype('category')

# National team

In [31]:
df[df.Joined.isna()]  #checking if there is any missing value in the date joined column

Empty DataFrame
Columns: [Name, Nationality, Age, O/R, POT, Club, Positions, Height (cm), Weight (kg), Preferred Foot, BOV, Best Position, Joined, Loan Date End, Value, Wage, Release Clause, Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, W/F, SM, A/W, D/W, IR, PAC, SHO, PAS, DRI, DEF, PHY, Hits, Contract_start, Contract_end]
Index: []

[0 rows x 74 columns]

In [32]:
df.Joined = pd.to_datetime(df["Joined"])

# Loan end date

In [33]:
# Loan end date
df[df["Loan Date End"].isna()].sample()

,Name,Nationality,Age,O/R,POT,Club,Positions,Height (cm),Weight (kg),Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
240364,Isaac Boye,Nigeria,23,58,66,Örebro SK,ST,188,82,Right,...,1 ★,68,58,34,56,23,68,NaN,2017,2021

In [34]:
df["Loan Date End"].fillna(0,inplace=True)
df["Loan Date End"] = pd.to_datetime(df["Loan Date End"]) #converting to datetime format

# Value, Wage and Release clause

In [35]:
#converting to numeric
pay = ["Value",	"Wage",	"Release Clause"]
for p in pay:
  df[p] =df[p].str.extract(pat='(\d+)', expand=False) # to extract the numeric value
  df[p] = df[p].astype("int") # converting to int data type 
df["Value"] =df["Value"]*1000000
df["Wage"] = df["Wage"]*1000
df["Release Clause"] = df["Release Clause"]*1000000 
df.rename(columns={"Value": "Value($M)",	"Wage":"Wage($K)",	"Release Clause":"Release Clause ($M)"}, inplace=True) #renaming the columns

# Player metrics

In [36]:
int1 = list(df.columns[18:60])
int1
for i in int1:
  df[i] = df[i].astype("int")

In [37]:
df[df.columns[61:]].sample()

,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,
177156,2★,Medium,Medium,1 ★,33,35,53,50,61,63,9,2015,2021

# W/F, S/M, IR

In [38]:
rat = ["W/F",	"SM", "IR"]
for r in rat:
  df[r] = df[r].str.extract(pat='(\d+)', expand=False)
  df[r] = df[r].astype('category')

# A/W, D/W

In [39]:
work = ["A/W", "D/W"]
for w in work:
  df[w] = df[w].astype('category')

In [40]:
int2 = list(df.columns[66:71])
int2
for i in int2:
  df[i] = df[i].astype("int")
df.sample(2)

,Name,Nationality,Age,O/R,POT,Club,Positions,Height (cm),Weight (kg),Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
224674,Jianan Wang,China PR,27,61,61,Sagan Tosu,"RM, RB",175,68,Right,...,1,64,61,57,61,53,66,4,2020,2021
243867,Ousmane Kanté,Guinea,30,68,68,Paris FC,CB,185,80,Right,...,1,41,35,46,53,68,78,4,2018,2022

In [41]:
# Hits

In [42]:
df["Hits"].isna().sum() #checking for missing or blank hits

2595

In [43]:
df["Hits"].fillna(0,inplace=True) # to make sure that players who their profile has not been check is 0 for hits
df["Hits"].isna().sum()

0

In [44]:
df.head(3)

,Name,Nationality,Age,O/R,POT,Club,Positions,Height (cm),Weight (kg),Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
158023,Lionel Messi,Argentina,33,93,93,FC Barcelona,"RW, ST, CF",170,72,Left,...,5,85,92,91,95,38,65,771,2004,2021
20801,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,"ST, LW",187,83,Right,...,5,89,93,81,89,35,77,562,2018,2022
200389,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,GK,188,87,Right,...,3,87,92,78,90,52,90,150,2014,2023

# Heights column
now we need to properly clean the height column, all metrics should be in cm

In [45]:
# spliting the rorws in order to deal with non numeric data
data2 = df[~df["Height (cm)"].str.isnumeric()] #the non numeric part
data1 = df[df["Height (cm)"].str.isnumeric()] #the numeric part

In [46]:
#Converting the heights in data2 (feets) to cm, so that it look like that of data1
df["Height (cm)"]=df["Height (cm)"].str.replace("'"," ")
data2[["a","b"]]=data2["Height (cm)"].str.split("'", expand=True)
data2["b"]= data2["b"].str.extract(pat='(\d+)', expand=False)
new = ["a","b"]
for n in new:
  data2[n] = data2[n].astype("int")
data2["Height (cm)"] = (data2["a"]*30.48 + data2["b"]*2.54).round()
data2.drop(["a","b"], axis=1, inplace=True)
data2.head()

/usr/local/lib/python3.9/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
<ipython-input-46-f04142ac2804>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["b"]= data2["b"].str.extract(pat='(\d+)', expand=False)
<ipython-input-46-f04142ac2804>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2[n] = data2[n].astype("int")
<ipython-input-46-f04142ac2804>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["Height (cm)"] = (data2["a"]*30.48 + data2["b"]*2.54).round()
/usr/local/lib/python3.9/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Name,Nationality,Age,O/R,POT,Club,Positions,Height (cm),Weight (kg),Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
110677,Miguel Ángel Moyá Rumbo,Spain,36,78,78,Real Sociedad,GK,188.0,183lbs,Right,...,2,82,72,80,78,39,79,14,2018,2021
166706,Martin Škrtel,Slovakia,35,78,78,Medipol Başakşehir FK,CB,190.0,179lbs,Right,...,3,47,38,48,51,78,82,22,2020,2021
189068,Bas Dost,Netherlands,31,78,78,Eintracht Frankfurt,ST,196.0,183lbs,Right,...,3,47,81,57,65,51,79,33,2019,2022
198031,Sérgio Miguel Relvas de Oliveira,Portugal,28,78,78,FC Porto,CM,180.0,172lbs,Right,...,1,58,77,82,75,66,68,41,2015,2021
190243,Marwin Hitz,Switzerland,32,78,78,Borussia Dortmund,GK,193.0,196lbs,Right,...,2,79,77,63,80,44,79,17,2018,2021

# Weight column
now we need to properly clean the weight column, all metrics should be in lbs

In [47]:
#converting the weight in data 1
data1["Weight (kg)"] = data1["Weight (kg)"].astype("int")
data1["Weight (kg)"] = (data1["Weight (kg)"]*2.20462).round()
#remove lbs 
data2["Weight (kg)"] = data2["Weight (kg)"].str.extract(pat='(\d+)', expand=False)

<ipython-input-47-10b70e844fb6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["Weight (kg)"] = data1["Weight (kg)"].astype("int")
<ipython-input-47-10b70e844fb6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["Weight (kg)"] = (data1["Weight (kg)"]*2.20462).round()
<ipython-input-47-10b70e844fb6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["Weight (kg)"] = data2["Weight (kg)"].str.extract(pat='(\d+)', expand=False)

In [48]:
data1.head(2)

,Name,Nationality,Age,O/R,POT,Club,Positions,Height (cm),Weight (kg),Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
158023,Lionel Messi,Argentina,33,93,93,FC Barcelona,"RW, ST, CF",170,159.0,Left,...,5,85,92,91,95,38,65,771,2004,2021
20801,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,"ST, LW",187,183.0,Right,...,5,89,93,81,89,35,77,562,2018,2022

In [49]:
df = pd.concat([data1,data2]) #to join the rows we splitted back together

In [50]:
df.sample(2)

,Name,Nationality,Age,O/R,POT,Club,Positions,Height (cm),Weight (kg),Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
235875,Pol Mikel Lirola Kosok,Spain,22,71,76,Fiorentina,"RM, RB",183,165.0,Right,...,1,77,48,68,73,71,67,15,2020,2024
256616,Thomás Ortega,Argentina,19,62,78,Independiente,LB,179,159.0,Left,...,1,68,33,45,62,58,64,8,2019,2023

In [51]:
#renaming Weight (kg) to Weight (lbs)
df.columns = df.columns.str.replace("Weight (kg)", "Weight (lbs)")

<ipython-input-51-c0c8e6b4797d>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace("Weight (kg)", "Weight (lbs)")

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18979 entries, 158023 to 142707
Data columns (total 74 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 18979 non-null  string
 1   Nationality          18979 non-null  string
 2   Age                  18979 non-null  int64
 3   O/R                  18979 non-null  int64
 4   POT                  18979 non-null  int64
 5   Club                 18979 non-null  string
 6   Positions            18979 non-null  category
 7   Height (cm)          18979 non-null  object
 8   Weight (kg)          18979 non-null  object
 9   Preferred Foot       18979 non-null  category
 10  BOV                  18979 non-null  int64
 11  Best Position        18979 non-null  category
 12  Joined               18979 non-null  datetime64[ns]
 13  Loan Date End        18979 non-null  datetime64[ns]
 14  Value($M)            18979 non-null  int64
 15  Wage($K)             18979 non-null  int64
 16  Release Clause ($M)  18979 non-null  int64
 17  Attacking            18979 non-null  int64
 18  Crossing             18979 non-null  int64
 19  Finishing            18979 non-null  int64
 20  Heading Accuracy     18979 non-null  int64
 21  Short Passing        18979 non-null  int64
 22  Volleys              18979 non-null  int64
 23  Skill                18979 non-null  int64
 24  Dribbling            18979 non-null  int64
 25  Curve                18979 non-null  int64
 26  FK Accuracy          18979 non-null  int64
 27  Long Passing         18979 non-null  int64
 28  Ball Control         18979 non-null  int64
 29  Movement             18979 non-null  int64
 30  Acceleration         18979 non-null  int64
 31  Sprint Speed         18979 non-null  int64
 32  Agility              18979 non-null  int64
 33  Reactions            18979 non-null  int64
 34  Balance              18979 non-null  int64
 35  Power                18979 non-null  int64
 36  Shot Power           18979 non-null  int64
 37  Jumping              18979 non-null  int64
 38  Stamina              18979 non-null  int64
 39  Strength             18979 non-null  int64
 40  Long Shots           18979 non-null  int64
 41  Mentality            18979 non-null  int64
 42  Aggression           18979 non-null  int64
 43  Interceptions        18979 non-null  int64
 44  Positioning          18979 non-null  int64
 45  Vision               18979 non-null  int64
 46  Penalties            18979 non-null  int64
 47  Composure            18979 non-null  int64
 48  Defending            18979 non-null  int64
 49  Marking              18979 non-null  int64
 50  Standing Tackle      18979 non-null  int64
 51  Sliding Tackle       18979 non-null  int64
 52  Goalkeeping          18979 non-null  int64
 53  GK Diving            18979 non-null  int64
 54  GK Handling          18979 non-null  int64
 55  GK Kicking           18979 non-null  int64
 56  GK Positioning       18979 non-null  int64
 57  GK Reflexes          18979 non-null  int64
 58  Total Stats          18979 non-null  int64
 59  Base Stats           18979 non-null  int64
 60  W/F                  18979 non-null  category
 61  SM                   18979 non-null  category
 62  A/W                  18979 non-null  category
 63  D/W                  18979 non-null  category
 64  IR                   18979 non-null  category
 65  PAC                  18979 non-null  int64
 66  SHO                  18979 non-null  int64
 67  PAS                  18979 non-null  int64
 68  DRI                  18979 non-null  int64
 69  DEF                  18979 non-null  int64
 70  PHY                  18979 non-null  int64
 71  Hits                 18979 non-null  object
 72  Contract_start       18979 non-null  object
 73  Contract_end         17729 non-null  object
dtypes: category(8), datetime64[ns](2), int64(56), object(5), string(3)
memory usage: 9.9+ MB

# IR 
the data type is not correct

In [53]:
df["IR"]= df["IR"].astype("category")
df["IR"].dtype

CategoricalDtype(categories=['1', '2', '3', '4', '5'], ordered=False)

# Hits 
there is need to properly clean the hits column

In [54]:
df["Hits"].unique()[:20]

array(['771', '562', '150', '207', '595', '248', '246', '120', '1.6K',
       '130', '321', '189', '175', '96', '118', '216', '212', '154',
       '205', '202'], dtype=object)

In [55]:
df["Hits"] = df["Hits"].astype("string")

In [56]:
# splitting the hits column 
data3 = df[~df["Hits"].str.contains("K", case=False)]
data4 = df[df["Hits"].str.contains("K", case=False)]

In [57]:
data4.head(3)

,Name,Nationality,Age,O/R,POT,Club,Positions,Height (cm),Weight (kg),Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
231747,Kylian Mbappé,France,21,90,95,Paris Saint-Germain,"ST, LW, RW",178,161.0,Right,...,3,96,86,78,91,39,76,1.6K,2018,2022
233049,Jadon Sancho,England,20,87,93,Borussia Dortmund,"RM, LM, CAM",180,168.0,Right,...,3,83,74,81,91,37,64,1.1K,2017,2023
212198,Bruno Miguel Borges Fernandes,Portugal,25,87,90,Manchester United,"CAM, CM",179,152.0,Right,...,2,77,83,88,85,68,75,1.5K,2020,2025

In [58]:
data4["Hits"] = data4["Hits"].str.strip("K")

<ipython-input-58-9e0c51ce5213>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4["Hits"] = data4["Hits"].str.strip("K")

In [59]:
data4.sample(2)

,Name,Nationality,Age,O/R,POT,Club,Positions,Height (cm),Weight (kg),Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
253004,Anssumane Fati,Spain,17,76,90,FC Barcelona,LW,178,146.0,Right,...,1,88,71,68,79,29,53,2.8,2018,2022
252371,Jude Bellingham,England,17,69,88,Borussia Dortmund,"CM, LM, RM",186,165.0,Right,...,1,77,65,64,73,55,66,1.4,2020,2023

In [60]:
data4["Hits"] = data4["Hits"].astype("float")
data3["Hits"] = data3["Hits"].astype("float")

<ipython-input-60-b68abc6a0fee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4["Hits"] = data4["Hits"].astype("float")
<ipython-input-60-b68abc6a0fee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3["Hits"] = data3["Hits"].astype("float")

In [61]:
data4["Hits"].dtype

dtype('float64')

In [62]:
data4["Hits"] = data4["Hits"]*1000

<ipython-input-62-c0353489db5a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4["Hits"] = data4["Hits"]*1000

In [63]:
data4.head(3)

,Name,Nationality,Age,O/R,POT,Club,Positions,Height (cm),Weight (kg),Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
231747,Kylian Mbappé,France,21,90,95,Paris Saint-Germain,"ST, LW, RW",178,161.0,Right,...,3,96,86,78,91,39,76,1600.0,2018,2022
233049,Jadon Sancho,England,20,87,93,Borussia Dortmund,"RM, LM, CAM",180,168.0,Right,...,3,83,74,81,91,37,64,1100.0,2017,2023
212198,Bruno Miguel Borges Fernandes,Portugal,25,87,90,Manchester United,"CAM, CM",179,152.0,Right,...,2,77,83,88,85,68,75,1500.0,2020,2025

In [64]:
data3.head(3)

,Name,Nationality,Age,O/R,POT,Club,Positions,Height (cm),Weight (kg),Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
158023,Lionel Messi,Argentina,33,93,93,FC Barcelona,"RW, ST, CF",170,159.0,Left,...,5,85,92,91,95,38,65,771.0,2004,2021
20801,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,"ST, LW",187,183.0,Right,...,5,89,93,81,89,35,77,562.0,2018,2022
200389,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,GK,188,192.0,Right,...,3,87,92,78,90,52,90,150.0,2014,2023

In [65]:
df = pd.concat([data3, data4])
df["Hits"] = df["Hits"].astype("int")
df.tail(3)

,Name,Nationality,Age,O/R,POT,Club,Positions,Height (cm),Weight (kg),Preferred Foot,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract_start,Contract_end
ID,,,,,,,,,,,,,,,,,,,,,
251570,Rayan Cherki,France,16,67,88,Olympique Lyonnais,"CAM, RM, LM",176,157.0,Left,...,1,71,60,62,74,20,58,1000,2019,2023
238071,Dujon Sterling,England,20,67,80,Chelsea,RB,180,159.0,Right,...,1,78,48,56,65,64,69,2500,2016,2022
255611,Daniel Maldini,Italy,18,59,79,Milan,CAM,186,168.0,Right,...,1,68,51,59,61,38,50,6000,2018,2024

# Contract_start and Contract_end 
these columns will be convert to a category data type in order to be represented better. by this we can do eda on both columns

In [66]:
ct = ["Contract_start", "Contract_end"]
for c in ct:
  df[c] = df[c].astype("category")

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18979 entries, 158023 to 255611
Data columns (total 74 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 18979 non-null  string
 1   Nationality          18979 non-null  string
 2   Age                  18979 non-null  int64
 3   O/R                  18979 non-null  int64
 4   POT                  18979 non-null  int64
 5   Club                 18979 non-null  string
 6   Positions            18979 non-null  category
 7   Height (cm)          18979 non-null  object
 8   Weight (kg)          18979 non-null  object
 9   Preferred Foot       18979 non-null  category
 10  BOV                  18979 non-null  int64
 11  Best Position        18979 non-null  category
 12  Joined               18979 non-null  datetime64[ns]
 13  Loan Date End        18979 non-null  datetime64[ns]
 14  Value($M)            18979 non-null  int64
 15  Wage($K)             18979 non-null  int64
 16  Release Clause ($M)  18979 non-null  int64
 17  Attacking            18979 non-null  int64
 18  Crossing             18979 non-null  int64
 19  Finishing            18979 non-null  int64
 20  Heading Accuracy     18979 non-null  int64
 21  Short Passing        18979 non-null  int64
 22  Volleys              18979 non-null  int64
 23  Skill                18979 non-null  int64
 24  Dribbling            18979 non-null  int64
 25  Curve                18979 non-null  int64
 26  FK Accuracy          18979 non-null  int64
 27  Long Passing         18979 non-null  int64
 28  Ball Control         18979 non-null  int64
 29  Movement             18979 non-null  int64
 30  Acceleration         18979 non-null  int64
 31  Sprint Speed         18979 non-null  int64
 32  Agility              18979 non-null  int64
 33  Reactions            18979 non-null  int64
 34  Balance              18979 non-null  int64
 35  Power                18979 non-null  int64
 36  Shot Power           18979 non-null  int64
 37  Jumping              18979 non-null  int64
 38  Stamina              18979 non-null  int64
 39  Strength             18979 non-null  int64
 40  Long Shots           18979 non-null  int64
 41  Mentality            18979 non-null  int64
 42  Aggression           18979 non-null  int64
 43  Interceptions        18979 non-null  int64
 44  Positioning          18979 non-null  int64
 45  Vision               18979 non-null  int64
 46  Penalties            18979 non-null  int64
 47  Composure            18979 non-null  int64
 48  Defending            18979 non-null  int64
 49  Marking              18979 non-null  int64
 50  Standing Tackle      18979 non-null  int64
 51  Sliding Tackle       18979 non-null  int64
 52  Goalkeeping          18979 non-null  int64
 53  GK Diving            18979 non-null  int64
 54  GK Handling          18979 non-null  int64
 55  GK Kicking           18979 non-null  int64
 56  GK Positioning       18979 non-null  int64
 57  GK Reflexes          18979 non-null  int64
 58  Total Stats          18979 non-null  int64
 59  Base Stats           18979 non-null  int64
 60  W/F                  18979 non-null  category
 61  SM                   18979 non-null  category
 62  A/W                  18979 non-null  category
 63  D/W                  18979 non-null  category
 64  IR                   18979 non-null  category
 65  PAC                  18979 non-null  int64
 66  SHO                  18979 non-null  int64
 67  PAS                  18979 non-null  int64
 68  DRI                  18979 non-null  int64
 69  DEF                  18979 non-null  int64
 70  PHY                  18979 non-null  int64
 71  Hits                 18979 non-null  int64
 72  Contract_start       18979 non-null  category
 73  Contract_end         17729 non-null  category
dtypes: category(10), datetime64[ns](2), int64(57), object(2), string(3)
memory usage: 9.6+ MB

# Saving to a new file

In [68]:
df.to_csv("clean_fifa_21.csv", index=False)